<ion-view>
  <div class="tabs tabs-icon-only">
    <a class="tab-item" ng-click="goToMain()">
      <i class="icon ion-ios-home-outline"></i>
    </a>

    <a class="tab-item" ng-click="goToSearch()">
      <i class="icon ion-ios-search"></i>
    </a>

    <a class="tab-item" ng-click="goToAdd()">
      <i class="icon ion-ios-plus"></i>
    </a>

    <a class="tab-item" ng-click="goToLike()">
      <i class="icon ion-ios-heart-outline"></i>
    </a>

    <a class="tab-item" ng-click="goToProfile()">
      <i class="icon ion-ios-person-outline"></i>
    </a>
  </div>
  <ion-content>
    <div class="bar bar-header bar-light">
      <h1 class="title">Instagram</h1>
    </div>

    <div id="containerAdd">

      <div class="list card">

        <div class="item item-avatar">
          <button class="button button-positive button-small" ng-click="takePhoto()">
              Take photo
          </button>
          <button class="button button-positive button-small" ng-click="photoFromPhone()">
            Take from phone
          </button>
        </div>

        <div class="item item-body">
          <img class="full-image" ng-src="{{picture}}" ng-if="picture">
          <img class="full-image" src="img/default.jpeg" ng-if="!picture">
          <input type="text" value="" placeholder="Put a description" name="description" ng-model="settings.description">
          <p id="result" ng-if="show == 'success'">{{result}}</p>
          <p id="error" ng-if="show == 'error'">{{result}}</p>
          <p><button class="button button-positive button-block" ng-click="saveImage(settings)" ng-if="picture">Save</button></p>

        </div>

      </div>

    </div>
  </ion-content>
</ion-view>
