<ion-view>
  <!-- section for the menu  -->
  <div class="tabs tabs-icon-only">
    <a class="tab-item">
      <i class="icon ion-ios-home"></i>
    </a>

    <a class="tab-item" ng-click="goToSearch()">
      <i class="icon ion-ios-search"></i>
    </a>

    <a class="tab-item" ng-click="goToAdd()">
      <i class="icon ion-ios-plus-outline"></i>
    </a>

    <a class="tab-item" ng-click="goToLike()">
      <i class="icon ion-ios-heart-outline"></i>
    </a>

    <a class="tab-item" ng-click="goToProfile()">
      <i class="icon ion-ios-person-outline"></i>
    </a>
  </div>
  <ion-content>
 <!-- header for the main page -->
    <div class="bar bar-header bar-light">
      <h1 class="title">Instagram</h1>
    </div>
<!-- container for maipage list -->
    <div id="container" data-ng-init="init()">
      <div class="list card" ng-repeat="post in posts">
        <div class="item item-avatar item-icon-right">
          <img src="{{post.imgProfile}}">
          <h2>{{post.name}}</h2>
          <button class="button icon ion-more"></button>
        </div>

        <div class="item item-body">
          <img class="full-image" src="{{post.src}}">
          <p>{{post.description}}</p>
          <p class="icons_card">
            <button class="button icon ion-ios-heart-outline" ng-click="addLike({{post.id}})" ng-if="!likes[post.id]"></button>
            <button class="button icon ion-ios-heart" ng-click="addLike({{post.id}})" ng-if="likes[post.id]"></button>
            <button class="button icon ion-ios-chatbubble-outline" ng-click="goToComment({{post.id}}, 'main')"></button>
          </p>
          <h3><i class="icon ion-ios-heart"></i> {{ nbLikes(post.id) }} likes</h3>
          <p>View {{ nbcomment(post.id).length }} comments</p>

        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
