<ion-view>
  <div class="tabs tabs-icon-only">
    <a class="tab-item" ng-click="goToMain()">
      <i class="icon ion-ios-home-outline"></i>
    </a>

    <a class="tab-item" ng-click="goToSearch()">
      <i class="icon ion-ios-search-strong"></i>
    </a>

    <a class="tab-item" ng-click="goToAdd()">
      <i class="icon ion-ios-plus-outline"></i>
    </a>

    <a class="tab-item" ng-click="goToLike()">
      <i class="icon ion-ios-heart-outline"></i>
    </a>

    <a class="tab-item" ng-click="goToProfile()">
      <i class="icon ion-ios-person-outline"></i>
    </a>
  </div>
  <ion-content>
    <dic id="container">
        {{name}}
    </div>
  </ion-content>
</ion-view>
