<ion-view>
  <ion-content>
    <div class="bar bar-header bar-light">
      <button class="button icon ion-chevron-left" ng-click='goToLogin()'>Back</button>
    </div>

    <div id="containerForm">
      <div class="list formLogin">
        <label class="item item-input inputLogin">
          <input type="text" placeholder="Username">
        </label>
        <label class="item item-input inputLogin">
          <input type="password" placeholder="Password">
        </label>
        <label class="item item-input inputLogin">
          <input type="text" placeholder="Email">
        </label>
      </div>
      <button class="button button-block button-positive loginButton" id="loginButton">
        Register
      </button>
    </div>
  </ion-content>
</ion-view>
